/* Structure */
@media screen and (min-width: 1920px){
    #calculator {
        width: 20vw;
        height: 33vw;
    }

    #display {
        width: 18vw;
        height: 5vw;
        margin-top: 1vw;
        margin-bottom: 0.5vw;
        font-size: 4vw;
        gap: 0.5vw;
    }

    #calculation-display {
        font-size: 1.25vw;
        margin-right: 0.25vw;

    }

    #input-display {
        font-size: 2.5vw;
        margin-right: 0.25vw;
    }

    #input {
        width: 18vw;
    }

    .button {
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
        margin: .1vw;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1919px){
    #calculator {
        width: 20vw;
        height: 34vw;
    }

    #display {
        width: 18vw;
        height: 5vw;
        margin-top: 1vw;
        margin-bottom: 0.5vw;
        gap: .25vw;
    }

    #calculation-display {
        font-size: 1vw;
        margin-right: 0.5vw;
    }

    #input-display {
        font-size: 3vw;
        margin-right: 0.5vw;
    }

    #input {
        width: 18vw;
    }

    .button {
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
        margin: .1vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 1079px){
    #calculator {
        width: 40vw;
        height: 66vw;
    }

    #display {
        width: 35vw;
        height: 11vw;
        margin-top: 2vw;
        margin-bottom: 1vw;
        font-size: 6vw;
        gap: .5vw;
    }

    #calculation-display {
        font-size: 3vw;
        margin-right: 1vw;
        
    }

    #input-display {
        font-size: 6vw;
        margin-right: 1vw;
    }

    #input {
        width: 35vw;
    }

    .button {
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
        margin: .1vw;
    }
}

@media screen and (max-width:599px) {
    #calculator {
        width: 75vw;
        height: 127vw;
    }

    #display {
        width: 70vw;
        height: 20vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        gap: 2vw;
    }

    #calculation-display {
        font-size: 5vw;
        margin-right: 2vw;
    }

    #input-display {
        font-size: 10vw;
        margin-right: 2.5vw;
    }

    #input {
        width: 70vw;
    }

    .button {
        width: 16vw;
        height: 16vw;
        font-size: 8vw;
        margin: 0.1vw;
    }
}

body {
    display: flex;
    justify-content: center;
    background-color: #b1aeab;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#input {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.number, .button.action:hover {
    background-color: #525252;
}

/* Styling */
#calculator {
    background-color: #323232;
    color: #dbdbdb;
}

#display {
    background-color: #444444;
    border-radius: 10px;
    white-space: nowrap;
}

.button {
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.button.action, .button.number:hover {
    background-color: #424242;
}

.button.not-implemented {
    background-color: #a12222;
}